<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropMCFG</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<false/>
				<key>AddIMEI_80000</key>
				<false/>
				<key>AddMCHC_0008</key>
				<true/>
				<key>AddPNLF_1000000</key>
				<false/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<false/>
				<key>FIX_ADP1_800000</key>
				<false/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<false/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FiX_TMR_40000</key>
				<false/>
				<key>FiX_WAK_200000</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixDarwin_0002</key>
				<true/>
				<key>FixDisplay_0100</key>
				<false/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<false/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>FixUSB_1000</key>
				<false/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>dsdt.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>GFX0 -&gt; IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PEGP -&gt; GFX1</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					UEVHUA==
					</data>
					<key>Replace</key>
					<data>
					R0ZYMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PEGP -&gt; GFX0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UEVHUA==
					</data>
					<key>Replace</key>
					<data>
					R0ZYMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PEG0 -&gt; PEGP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UEVHMA==
					</data>
					<key>Replace</key>
					<data>
					UEVHUA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>10.9.4+-Rename-B0D32HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Disable PAVP to fix iTunes trailers</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SImLqAAAAA==
					</data>
					<key>Name</key>
					<string>AppleIntelFramebufferAzul</string>
					<key>Replace</key>
					<data>
					kJCQkJCQkA==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<false/>
			<key>SuspendOverride</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>SSDT</key>
		<dict>
			<key>#DoubleFirstState</key>
			<false/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MinMultiplier</key>
			<integer>7</integer>
			<key>#PluginType</key>
			<integer>1</integer>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PLimitDict</key>
			<integer>0</integer>
			<key>UseSystemIO</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#NoEarlyProgress</key>
		<false/>
		<key>Arguments</key>
		<string>-xcpm</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject Intel HD properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>Intel HD Graphics 4600</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						EgQAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>
						BAASBA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>graphic-options</string>
						<key>Value</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>boot-gamma-restored</string>
						<key>Value</key>
						<data>
						AAAAAAAAAAA=
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOHibernateState</string>
						<key>Value</key>
						<data>
						AAAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						axAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject IMEI properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						OpwAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:16.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDAU properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>
						AQAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:03.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject EH01 properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device_type</string>
						<key>Value</key>
						<string>EHCI</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject EH02 properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device_type</string>
						<key>Value</key>
						<string>EHCI</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1A.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject XHC properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device_type</string>
						<key>Value</key>
						<string>XHCI</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:14.00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>1</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x04128086</string>
			<key>ATI</key>
			<string>0x0</string>
			<key>IMEI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>InjectString</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		

		<key>Language</key>
		<string>ru:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1200</string>
		<key>Theme</key>
		<string>yosemitelogin</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<false/>
		<key>LoadVBios</key>
		<false/>
		<key>PatchVBios</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>ig-platform-id</key>
		<string>0x04120004</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AppleGraphicsDevicePolicy (board-id) Patch (c) Pike R. Alpha</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				Ym9hcmQtaWQ=
				</data>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				Ym9hcmQtaXg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Atheros locale fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/s3
				</data>
				<key>Name</key>
				<string>AirPortAtheros40</string>
				<key>Replace</key>
				<data>
				g/sh
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>[FredWst] NVIDIA Black Screen fix / Sierra</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hcB0LEmLB0iNdaA=
				</data>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				hcDrLEmLB0iNdaA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02140302D5DMT31M</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>02/22/2016</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM151.88Z.0207.B06.1602221600</string>
		<key>Board-ID</key>
		<string>Mac-42FD25EABCABB274</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>13</string>
		<key>Family</key>
		<string>iMac</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>ProductName</key>
		<string>iMac15,1</string>
		<key>SerialNumber</key>
		<string>C02MMTG9GDR9</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel</key>
		<string>0x0101</string>
		<key>CustomUUID</key>
		<string>7402d403-3504-e605-3406-9f0700080009</string>
		<key>InjectKexts</key>
		<string>YES</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
