<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Information</key>
	<string>Visit http://osxpc.ru/all-arbitrary/ for more information.</string>
	<key>Copyright</key>
	<string>Lizard1003, DenSkop, IronMan. 2016.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Devices</key>
	<dict>
		<key>Graphics</key>
		<dict>
			<key>Intel HD Graphics</key>
			<dict>
				<key>Arbitrary – iHD 3000</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>JgEAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,snb-platform-id</string>
								<key>Value</key>
								<data>AAABAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,NumFramebuffers</string>
								<key>Value</key>
								<data>AwAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,LinkType</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 3000</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 4000</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>ZgEAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AwBmAQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,LinkType</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 4000</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 4400 Laptop</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>EgQAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>BgAmCg==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 4400</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>boot-gamma-restored</string>
								<key>Value</key>
								<data>AAAAAAAAAAA=</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>IOHibernateState</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 4600 Laptop</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>EgQAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>BgAmCg==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 4600</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>boot-gamma-restored</string>
								<key>Value</key>
								<data>AAAAAAAAAAA=</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>IOHibernateState</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 4600 Desktop</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>EgQAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AwAiDQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 4600</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>boot-gamma-restored</string>
								<key>Value</key>
								<data>AAAAAAAAAAA=</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>IOHibernateState</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 5000</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>EgQAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AwAiDQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 5000</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>boot-gamma-restored</string>
								<key>Value</key>
								<data>AAAAAAAAAAA=</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>IOHibernateState</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 5500</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>JhYAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>BgAmFg==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 5500</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 5600</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>JhYAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>BgAmFg==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 5600</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 515</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AAAeGQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>HhkAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 515</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 520</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AAAWGQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>FhkAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 520</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
				<key>Arbitrary – iHD 530</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject Intel HD properties</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>FhkAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>hoAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,ig-platform-id</string>
								<key>Value</key>
								<data>AAAWGQ==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>graphic-options</string>
								<key>Value</key>
								<data>DAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>Intel HD Graphics 530</string>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>00:02.00</string>
					</dict>
				</array>
			</dict>
			<key>AMD Radeon Graphics</key>
			<dict>
				<key>Arbitrary – AMD Radeon GFX0</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>Inject AMD Radeon GFX0 (R7 370)</string>
						<key>CustomProperties</key>
						<array>
							<dict>
								<key>Key</key>
								<string>@0,AAPL,boot-display</string>
								<key>Value</key>
								<data>AQAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,display-bpc</string>
								<key>Value</key>
								<data>CgAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,display-link-component-bits</string>
								<key>Value</key>
								<data>CgAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,display-pixel-component-bits</string>
								<key>Value</key>
								<data>CgAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,device_type</string>
								<key>Value</key>
								<string>display</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,name</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@0,compatible</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@1,device_type</string>
								<key>Value</key>
								<string>display</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@1,name</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@1,compatible</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@2,device_type</string>
								<key>Value</key>
								<string>display</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@2,name</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@2,compatible</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@3,device_type</string>
								<key>Value</key>
								<string>display</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@3,name</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>@3,compatible</string>
								<key>Value</key>
								<string>ATY,Namako</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,Card#</string>
								<key>Value</key>
								<string>109-C408AA-00</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,Copyright</string>
								<key>Value</key>
								<string>Copyright AMD Inc. All Rights Reserved. 2005-2014</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,EFICompileDate</string>
								<key>Value</key>
								<string>Apr 16 2014</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,EFIVersion</string>
								<key>Value</key>
								<string>01.00.729</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,EFIVersionB</string>
								<key>Value</key>
								<string>113-C408W1-009</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,EFIVersionE</string>
								<key>Value</key>
								<string>113-C408WA-799</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>ATY,RefCLK</string>
								<key>Value</key>
								<data>jAoAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>model</string>
								<key>Value</key>
								<string>AMD Radeon R7 370</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>device_type</string>
								<key>Value</key>
								<string>ATY,NamakoParent</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>name</string>
								<key>Value</key>
								<string>ATY,NamakoParent</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>hda-gfx</string>
								<key>Value</key>
								<string>onboard-1</string>
							</dict>
							<dict>
								<key>Key</key>
								<string>device-id</string>
								<key>Value</key>
								<data>EGgAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>vendor-id</string>
								<key>Value</key>
								<data>AhAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-vendor-id</string>
								<key>Value</key>
								<data>axAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>subsystem-id</string>
								<key>Value</key>
								<data>OAEAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>AAPL,blacklight-control</string>
								<key>Value</key>
								<data>AAAAAA==</data>
							</dict>
							<dict>
								<key>Key</key>
								<string>VRAM,totalMB</string>
								<key>Value</key>
								<data>AAgAAA==</data>
							</dict>
						</array>
						<key>PciAddr</key>
						<string>01:00.00</string>
					</dict>
				</array>
			</dict>
			<key>Nvidia GTX Graphics</key>
			<dict>
				<key>Does not have example now</key>
				<string></string>
			</dict>
		</dict>
		<key>Sound</key>
		<dict>
			<key>Arbitrary – HDA properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject HDA properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>MaximumBootBeepVolume</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>PinConfigurations</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>layout-id</string>
							<key>Value</key>
							<data>AwAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>platformFamily</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1B.00</string>
				</dict>
			</array>
			<key>Arbitrary – HDAU properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject HDAU properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>hda-gfx</string>
							<key>Value</key>
							<string>onboard-1</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>layout-id</string>
							<key>Value</key>
							<data>AwAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:03.00</string>
				</dict>
			</array>
		</dict>
		<key>USB</key>
		<dict>
			<key>Arbitrary – USB 2.0 properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject EH01 properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>EHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1D.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject EH02 properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>EHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1A.00</string>
				</dict>
			</array>
			<key>Arbitrary – USB 3.0 properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject XHC properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>XHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:14.00</string>
				</dict>
			</array>
		</dict>
		<key>Ethernet</key>
		<dict>
			<key>Arbitrary – LAN properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject LAN properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>built-in</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,slot-name</string>
							<key>Value</key>
							<string>Ethernet</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>Ethernet</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>model</string>
							<key>Value</key>
							<string>Realtek RTL8168</string>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>02:00.00</string>
				</dict>
			</array>
			<key>Arbitrary – WI-FI properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject WI-FI properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>built-in</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>device-id</string>
							<key>Value</key>
							<data>oEMAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>vendor-id</string>
							<key>Value</key>
							<data>5BQAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,slot-name</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>model</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>name</string>
							<key>Value</key>
							<string>pci14e4,43a0</string>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>03:00.00</string>
				</dict>
			</array>
		</dict>
		<key>SATA</key>
		<dict>
			<key>Arbitrary – SATA properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject SATA properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.02</string>
				</dict>
			</array>
		</dict>
		<key>IMEI</key>
		<dict>
			<key>Arbitrary – IMEI properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject IMEI properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:16.00</string>
				</dict>
			</array>
		</dict>
		<key>LPC</key>
		<dict>
			<key>Arbitrary – LPC properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject LPC properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>device-id</string>
							<key>Value</key>
							<data>Q5wAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.00</string>
				</dict>
			</array>
		</dict>
		<key>SBUS</key>
		<dict>
			<key>Arbitrary – SBUS properties</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Inject SBUS properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.03</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Adaptation</key>
	<dict>
		<key>Devices</key>
		<dict>
			<key>Arbitrary</key>
			<array>
				<string>For example:</string>
				<dict>
					<key>Comment</key>
					<string>Inject Intel HD properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>device-id</string>
							<key>Value</key>
							<data>EgQAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>axAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,ig-platform-id</string>
							<key>Value</key>
							<data>BgAmCg==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>model</string>
							<key>Value</key>
							<string>Intel HD Graphics 4400</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>graphic-options</string>
							<key>Value</key>
							<data>DAAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>boot-gamma-restored</string>
							<key>Value</key>
							<data>AAAAAAAAAAA=</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>hda-gfx</string>
							<key>Value</key>
							<string>onboard-1</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>IOHibernateState</string>
							<key>Value</key>
							<data>AAAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:02.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject HDA properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>MaximumBootBeepVolume</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>PinConfigurations</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>layout-id</string>
							<key>Value</key>
							<data>AwAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>platformFamily</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1B.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject HDAU properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>hda-gfx</string>
							<key>Value</key>
							<string>onboard-1</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>layout-id</string>
							<key>Value</key>
							<data>AwAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:03.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject EH01 properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>EHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1D.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject EH02 properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>EHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1A.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject XHC properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>XHCI</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-available</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra</string>
							<key>Value</key>
							<integer>2200</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,current-extra-in-sleep</string>
							<key>Value</key>
							<integer>1600</integer>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,max-port-current-in-sleep</string>
							<key>Value</key>
							<integer>2100</integer>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:14.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject LPC properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>device-id</string>
							<key>Value</key>
							<data>Q5wAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject IMEI properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:16.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject SATA properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.02</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject SBUS properties</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>subsystem-id</string>
							<key>Value</key>
							<data>cHIAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>subsystem-vendor-id</string>
							<key>Value</key>
							<data>hoAAAA==</data>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>00:1F.03</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject LAN properties (If you have other LAN, please delete it)</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>built-in</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,slot-name</string>
							<key>Value</key>
							<string>Ethernet</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>Ethernet</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>model</string>
							<key>Value</key>
							<string>Realtek RTL8168</string>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>02:00.00</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Inject WI-FI properties (If you have other Wi-Fi, please delete it)</string>
					<key>CustomProperties</key>
					<array>
						<dict>
							<key>Key</key>
							<string>built-in</string>
							<key>Value</key>
							<data>AA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>device-id</string>
							<key>Value</key>
							<data>oEMAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>vendor-id</string>
							<key>Value</key>
							<data>5BQAAA==</data>
						</dict>
						<dict>
							<key>Key</key>
							<string>AAPL,slot-name</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>device_type</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>model</string>
							<key>Value</key>
							<string>Airport</string>
						</dict>
						<dict>
							<key>Key</key>
							<string>name</string>
							<key>Value</key>
							<string>pci14e4,43a0</string>
						</dict>
					</array>
					<key>PciAddr</key>
					<string>03:00.00</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
